@media screen and (min-width: $device-mobile)
  ::-webkit-scrollbar 
    width: 5px

@media screen and (min-width: $device-desktop)
  :root
    --card-cols: 5

@media screen and (max-width: $device-tablet)
  :root
    --card-cols: 3
    --menu-width: 230px

// 手机端 hover 点击后无法取消样式
@media (pointer: fine)
  #go-top:hover
    background: #ccc
    opacity: .8
  .card
    &:hover, &:focus, &:focus-within
      border: 1px dashed rgba(#ff4500, .7)
      background: var(--color-card-hover-bg)
      transform: translateY(-6px)
      .title
        color: #ff4500
      .description
        -webkit-line-clamp: 3
@media (pointer: coarse)
  #go-top:active
    background: #ccc
    opacity: .8

@media screen and (max-width: $device-mobile-l)
  :root
    --card-cols: 2
    --menu-width: 180px
    --gap: 16px

@media screen and (max-width: $device-mobile)
  :root
    --card-cols: 1
    --menu-width: 230px
    --gap: 32px

  input::placeholder
  input::-webkit-input-placeholder
    font-size: .9em

  .sidebar-menu
    top: var(--header-height-mobile)
    transform: translateX(-100%)
    transition: transform 0.3s ease-in-out
  
  .logo
    display: none
  #main-menu
    top: 0
  
  .sidebar-mobile-show
    .sidebar-menu
      transform: translateX(0)

  .main-content
    left: 0

  header
    position: fixed
    top: 0

  main
    margin-top: var(--header-height)

  .mobile-banner
    display: grid
    height: var(--header-height-mobile)

  .setting-banner
    height: var(--header-height-mobile)
    border-top: 1px solid var(--color-border)
    .sidebar-collapse
      display: none

  .mobile-hidden
    display: none
