:root
  --menu-width: 280px
  --header-height: 72px
  --header-height-mobile: 60px
  --footer-height: 60px
  --card-cols: 4
  --gap: 32px

  --color-menu-bg: #2c2e2f
  --color-text: #979898
  
  // 主题配色
  --color-bg: #f9f9f9
  --color-border: #ddd
  --color-text-strong: #373e4a
  --color-banner-bg: #fff
  --color-hotkeyword-item-hover-bg: #f1f1f1
  --color-card-bg: #fff
  --color-card-hover-bg: #fffbf0
  --color-card-border: #e4ecf3
  --search-engine-item-bg: #f1f2f2
  --search-engine-shadow: 0px 5px 20px 0px #d8d7d7

.sidebar-collapsed
  --menu-width: 80px

.dark
  --color-bg: #222
  --color-border: #3f4142
  --color-text-strong: #c1c1c1
  --color-banner-bg: #2c2e2f
  --color-hotkeyword-item-hover-bg: #181818
  --color-card-bg: transparent
  --color-card-hover-bg: #181818
  --color-card-border: #353636
  --search-engine-item-bg: #222
  --search-engine-shadow: 0px 5px 20px 0px #000
