// device defines
$device-mobile = 500px
$device-mobile-l = 720px
$device-tablet = 1024px
$device-desktop = 1440px
$device-2k = 2048px
$device-4k = 2560px


// site layout
$layout-width = convert(hexo-config('custom_css.max_width')) || 1080px
$sidebar = 240px
$modal-threshold = 680px
$navbar-height = convert(hexo-config('custom_css.navbar.height')) || 64px
