#article
  position: absolute
  top: calc(var(--gap) / 2)
  right: var(--gap)
  bottom: calc(var(--gap) / 2)
  left: var(--gap)
  padding: calc(var(--gap) / 2)
  background: var(--color-card-bg)

  > h2
    text-align: center
    line-height: 2em
